*{
	box-sizing:border-box;
}
body{
	padding:10px;
}

.link{
	margin-left: 10px;
}

.recherche{
	margin:10px;
	background-color:green;
	height:50px;
}

form{
   width:450px;
   background:red;
   
}

.form-recherche{
	/* display:inline; */
}

.input{
   position:relative;
   /* width: 100%; */
   margin: 0px;
   display: inline-block;
}
.b{
	display: inline-block;
	background-color: yellow;
}

.input i{
   position: absolute;
}

.input .icon {
   padding: 15px;
   color: rgb(49, 0, 128);
   text-align: left;
   font-size:24px;
}

.field {
   padding: 10px;
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   color:black;
}

button{	
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  height:auto;
}

.button{
  background-color: blue;
  color: white;
  border-radius: 0px 15px 15px 0px;
}

.filtre{
	display:flex;
	flex-direction:row;
	background: #ddd;
	height:60px;
}

img{
	/*width:60px;*/
	height:50px;
	border-radius:20px 20px 0px 0px;
	object-fit:cover;
}

img.arti-as{
	width: 100%;
    height: 100%;
	border-radius:20px 0px 0px 20px;;
}

.header-section{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	height:25px;
}

.navbar-nav{
	display:flex;
	flex-direction:row;
	align-items:center;
	gap:30px;
	list-style-type:none;
	text-decoration:none;
}
.navbar-nav li a {
 text-decoration:none;
 text-align:center;
 }
.navbar-link{
	color:blue;
}

a.navbar-link:hover {
	border-top: solid blue;
  }

.item-filtre{
	display:flex;
	flex-direction:row;
	align-items:center;
	gap:20px;
	list-style-type:none;
	text-decoration:none;
	/* padding-top:5px; */
}

.item-filtre i{
	position:absolute;
	border-radius:60px;
	background-color:#A6DAF2
}
.liste{
	/* position:relative; */
	margin: 0px;
	width:160px;
	border: 1px solid #600 ;
	border-radius:30px;
	height:35px
}
.liste-animal{
	margin: 0px;
	width:215px;
	border: 1px solid #600 ;
	border-radius:35px;
	height:35px
}
.item-filtre .icon {
   padding: 10px;
   color: blue;
   width: 25px;
   text-align: left;
}
.item-filtre li{
   padding: 5px;
   text-align:right;
   font-size: 20px;
   font-weight: bold;
}
.loges{
	display:flex;
	flex-direction:row;
	background: #EB7337;
}
.info{
	color:blue;
	padding-right:15px;
	padding-left:10px;
}
/* .liste > .animal{
	width:215px;
	border: 1px solid #600 ;
	border-radius:30px; 
} */
.item-label{
	padding:5px;
}

.lesheberges{
	display:flex;
	flex-direction:row;
	gap:30px;
}

.hebergement{
	width:60%;
	background-color:#E7D5CC;
	
}
.hebergement-content{
	width:100%;	
	display:flex;
	flex-direction:row;
	gap:20px;
	flex-wrap:wrap;
}
.hebergement-content article{
	width:30%;
	height:200px;
	background-color:red;
	padding:5px;
}

.arti {
	width : 100%; 
	height :90px; 
	margin :0px;
	padding:0px;
	/* background-image :url(./images/hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg);  */
	/* background-size: cover; */
}

.pop1{
	position:relative;
	background-color:yellow;
	margin:20px 20px 20px 0px;
	gap:40px;
}
.pop-h3{
	display:inline;
	margin: 0px;
}
.pop1 i{
	position: absolute;
}
.pop1 .start-icon-aside {
   padding: 0px 0px 0px 30px;
   color: rgb(49, 0, 128);
   text-align: right;
   font-size:24px;
}

/* .mars-im{
	padding:15px;
} */
/* #arti1 {
	width : 100% ; 
	height : 100px; 
	margin :0px;
	padding:0px;
	background-image :url(./images/hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg); 
	background-size: cover;
} */
/* #arti2 {
	width :100% ; 
	height :100px; 
	margin :auto;
	background-image :url(./images/hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg); 
	background-size: cover;
}
#arti3 {
	width : 100% ; 
	height : 100px; 
	margin :auto;
	background-image :url(./images/hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg); 
	background-size: cover;
}
#arti4 {
	width : 100% ; 
	height : 100px; 
	margin :auto;
	background-image :url(./images/hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg); 
	background-size: cover;
}
#arti5 {
	width : 100% ; 
	height : 100px; 
	margin :auto;
	background-image :url(./images/hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg); 
	background-size: cover;
}
#arti6 {
	width : 100% ; 
	height : 100px; 
	margin :auto;
	background-image :url(./images/hebergements/febrian-zakaria-sjvU0THccQA-unsplash.jpg); 
	background-size: cover;
} */
/* .arti1{
	padding:5px;
} */
.start-icon{
	margin:0px;
	color:blue;
}

.start-icon-aside{
	margin:0px;
	color:black;
}

.populaire{
	width:39%;
	background-color:#E7D5CC;
	padding:0px 20px 20px 20px;
}

.populaire-content{
	width:100%;	
	display:flex;
	flex-direction:column;
	gap:20px;
}

.populaire-content article{
	display:flex;
	flex-direction:row;
	width:100%;
	height:200px;
	background-color:blue;
	padding:10px;
	gap:10px;
}
/* .populaire-content article{
	width:100%;
	height:200px;
	background-color:blue;
	padding:10px;
} */
.populaire-content article .image{
	/* display:inline-block; */
	width:40%;
	height:100%;
}
.arti-aside{
	/* display:inline-block; */
	background-color:green;
	/* position:absolute;
	margin-left: 50px;
	margin-top: 50px; */
	height:100%;
	width:60%;
	display:flex;
	flex-direction:column;
	padding-top:20px;
	position:relative;
}
.posi-icon{
	position:absolute;
	bottom:20px;
}
.arti-aside p{
	/* padding-bottom:30px; */
	line-height:0px;
}

/*===================================*/
.activite{
	height: 600px;
	width: 100%;
}

.marseile{
	background-color:cadetblue;
	height: 500px;
	display:flex;
	flex-direction:column;
	gap: 20px;
	flex-wrap: wrap;

}

.item-activite{
	width: 23%!important;
	height: 500px!important;
	position: relative;
}

.item-activite p{
	width: 100%;
	padding: 20px 10px;
	position: absolute;
	bottom: 0px;
	background-color: white;
}

.item-activite:nth-child(2){
	height: 40%!important;
}

.item-activite:nth-child(3){
	height: 55%!important;
}

.item-activite:nth-child(5){
	height: 40%!important;
}

.item-activite:nth-child(6){
	height: 56%!important;
}

.vieux-port{
	background-color:chartreuse;
	width: 25%;
}

.vieux-port img{
	width: 100%;
    height: 90%;
	border-radius:20px 20px 0px 0px;
}

.fort-iles{
	background-color:chocolate;
	width: 25%;

}

.fort-pom{
	background-color:darkolivegreen;
	
}

.fort-pom img{
	width: 100%;
    height: 80%;
	border-radius:20px 20px 0px 0px;
}
						
.ile-friou{
	background-color:darkslateblue;

}

.ile-friou img{
	width: 100%;
    height: 80%;
	border-radius:20px 20px 0px 0px;
}

.parc-national{
	background-color:greenyellow;
	width: 25%;
}

.parc-national img{
	width: 100%;
    height: 90%;
	border-radius:20px 20px 0px 0px;
}
			
.parc-notredame{
	background-color:indianred;
	width: 25%;

}

.notre-dame{
	background-color:mediumpurple

}

.notre-dame img{
	width: 100%;
    height: 150px;
	border-radius:20px 20px 0px 0px;
}
						
.longchamp{
	background-color:olivedrab;

}

.longchamp img{
	width: 100%;
    height: 200px;
	border-radius:20px 20px 0px 0px;
	margin-top: 25px;
}